# Ramsey King
# DSC 550 - Data Mining
# September 5, 2021
# Exercise 1.2

### 1. Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive).

In [65]:
import numpy as np
np.random.seed(0)
array = np.array([np.random.randint(1,501,50),
                  np.random.randint(1,501,50),
                  np.random.randint(1,501,50),
                  np.random.randint(1,501,50),
                  np.random.randint(1,501,50),
                  np.random.randint(1,501,50),
                  np.random.randint(1,501,50),
                  np.random.randint(1,501,50),
                  np.random.randint(1,501,50),
                 np.random.randint(1,501,50)])
array.shape

(10, 50)

### Load it into a DataFrame

In [66]:
import pandas as pd
df = pd.DataFrame(array)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,173,48,118,193,324,252,196,360,10,212,...,100,473,178,244,286,148,148,399,424,289
1,450,266,186,128,33,32,203,245,152,164,...,431,83,92,385,399,100,54,397,122,427
2,85,204,325,263,453,48,128,132,461,357,...,43,462,369,488,406,202,384,1,395,371
3,44,443,384,24,188,131,378,99,63,420,...,372,185,445,489,78,287,281,126,259,4
4,95,227,364,270,369,297,329,20,96,329,...,446,84,162,361,417,229,252,122,327,470

### 2. Calculate the sum of each row; the sum of each column; and the sum of all entries.

In [67]:
# The sum of each row:
df.sum(axis=1)

0    12082
1    12171
2    13405
3    10219
4    13614
5    11215
6    12598
7    12117
8    12500
9    14194
dtype: int64

In [68]:
# The sum of each column:
df.sum()

0     1989
1     2361
2     2712
3     2363
4     2953
5     2172
6     2561
7     1888
8     1672
9     2826
10    2580
11    2929
12    2583
13    1822
14    2793
15    2505
16    2096
17    2518
18    2588
19    3060
20    2577
21    1860
22    1753
23    2784
24    2259
25    2722
26    1942
27    2577
28    2602
29    2154
30    2432
31    2596
32    2029
33    2513
34    1995
35    2590
36    2238
37    2659
38    2601
39    1978
40    2414
41    3239
42    3167
43    3162
44    3109
45    2125
46    2818
47    2428
48    3080
49    2741
dtype: int64

In [69]:
# The sum of all entries:
df.values.sum()

124115

### 3. Determine the minimum; maximum; average; and standard deviation of all entries.

In [70]:
print("Min value of all entries: ", df.values.min())
print("Max value of all entries: ", df.values.max())
print("Avg value of all entries: ", df.values.mean())
print("Std dev of all entries: ", df.values.std())

Min value of all entries:  1
Max value of all entries:  499
Avg value of all entries:  248.23
Std dev of all entries:  141.94103388379276

### 4. Sort the DataFrame: a) sort on column 2; b) sort on row 2.

In [75]:
# Sorting on column 2:
column_two_sort = df.sort_values(by=df.columns[1])
column_two_sort

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
5,288,14,328,185,153,80,42,275,41,439,...,183,492,422,126,157,112,489,259,28,468
0,173,48,118,193,324,252,196,360,10,212,...,100,473,178,244,286,148,148,399,424,289
7,190,130,210,369,292,377,348,169,373,293,...,146,199,456,275,349,44,84,434,298,94
6,218,152,310,308,175,149,438,30,68,36,...,257,460,291,198,383,438,255,81,447,137
2,85,204,325,263,453,48,128,132,461,357,...,43,462,369,488,406,202,384,1,395,371
4,95,227,364,270,369,297,329,20,96,329,...,446,84,162,361,417,229,252,122,327,470
1,450,266,186,128,33,32,203,245,152,164,...,431,83,92,385,399,100,54,397,122,427
8,175,406,202,346,499,481,476,330,29,492,...,121,373,440,321,204,221,421,282,289,427
3,44,443,384,24,188,131,378,99,63,420,...,372,185,445,489,78,287,281,126,259,4
9,271,471,285,277,467,325,23,228,379,84,...,315,428,312,275,430,344,450,327,491,54

In [81]:
# Sorting on row 2:
row_two_sort = df.sort_values(by=1, axis=1)
row_two_sort

,13,29,5,4,20,27,46,18,35,41,...,44,17,34,49,40,28,0,10,33,21
0,88,73,252,324,487,26,148,315,198,473,...,286,397,244,289,100,334,173,278,465,40
1,29,32,32,33,39,43,54,54,58,83,...,399,421,426,427,431,443,450,460,488,489
2,144,198,48,453,374,449,384,208,419,462,...,406,280,293,371,43,96,85,181,179,342
3,83,12,131,188,271,44,281,51,129,185,...,78,210,183,4,372,361,44,223,33,42
4,181,17,297,369,452,332,252,353,465,84,...,417,271,26,470,446,185,95,411,111,238
5,112,292,80,153,382,205,489,301,33,492,...,157,375,44,468,183,487,288,208,216,25
6,298,342,149,175,260,424,255,435,34,460,...,383,219,89,137,257,62,218,296,419,288
7,360,374,377,292,147,397,84,242,424,199,...,349,30,342,94,146,45,190,177,92,274
8,385,380,481,499,25,348,421,165,456,373,...,204,107,73,427,121,94,175,210,148,117
9,142,434,325,467,140,309,450,464,374,428,...,430,208,275,54,315,495,271,136,362,5