# Ramsey King
# DSC 550 - Data Mining
# October 2, 2021
# Exercise 5.2 - Graph Analysis

In [9]:
# This is following the instructions as provided in the Hypothesis Case Study Part 1
import pandas as pd
import numpy as np
import string
import re
import matplotlib.pyplot as plt
from collections import Counter

#Step 1:  Load data into a dataframe
addr1 = "/home/ramsey/PycharmProjects/DSC-550-Data-Mining/Week5/articles1.csv"
articles = pd.read_csv(addr1)

In [10]:
#Step 2:  check the dimension of the table/look at the data
print("The dimension of the table is: ", articles.shape)

The dimension of the table is:  (50000, 10)

In [11]:
#Display the data
articles.head()

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."

In [12]:
#what type of variables are in the table
print("Describe Data")
print(articles.describe())
print("Summarized Data")
print(articles.describe(include=['O']))

Describe Data
         Unnamed: 0            id          year         month  url
count  50000.000000  50000.000000  50000.000000  50000.000000  0.0
mean   25694.378380  44432.454800   2016.273700      5.508940  NaN
std    15350.143677  15773.615179      0.634694      3.333062  NaN
min        0.000000  17283.000000   2011.000000      1.000000  NaN
25%    12500.750000  31236.750000   2016.000000      3.000000  NaN
50%    25004.500000  43757.500000   2016.000000      5.000000  NaN
75%    38630.250000  57479.250000   2017.000000      8.000000  NaN
max    53291.000000  73469.000000   2017.000000     12.000000  NaN
Summarized Data
                                                    title publication  \
count                                               50000       50000
unique                                              49920           5
top     The 10 most important things in the world righ...   Breitbart
freq                                                    7       23781

                author        date        content
count            43694       50000          50000
unique            3603         983          49888
top     Breitbart News  2016-08-22  advertisement
freq              1559         221             42

include=['O'] in the describe method is used to include statistics on columns containing strings.

In [13]:
#display length of data
len(articles)

50000

In [14]:
#display publishers (publications)
articles.publication.unique()

array(['New York Times', 'Breitbart', 'CNN', 'Business Insider',
       'Atlantic'], dtype=object)

In [15]:
#display min, max of years published
print(articles['year'].min())
articles['year'].max()

2011.0

2017.0